button {
    display: block;
    margin: auto;
}

#diceHeader {
    margin-bottom: 50px;
}

.img-fluid {
    margin-bottom: 40px;

}

.dieValue {
    text-align: center;
}
#die {
    width: 200px;
    height: 200px;
}

.total {
    
    text-align: center;
}