/* Bootstrap Site CSS */
.navBar {
    display: block;
    padding: 0;

}

nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding-bottom: 0;
}

.container-fluid {
    padding: 0 ;
}

/* .container  {
    background-color: #C81D25;
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 900px;
    height: 400px;
    background-image: url(fastFood2.jpg);
    background-repeat: no-repeat;
    background-size: 863.828px 400px;
    background-blend-mode: multiply;
    border-radius: .25rem;

} */

.headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.pageHeader {
    display:  inline-block;
    position: fixed; 
    text-align: center;
    right: 7px;
    z-index: 0;
    font-family: 'Libre Franklin', sans-serif;
    
}


#bkLogo {
    width: 200px;
    /* border-radius: 50%; */
    margin-left: 0%;
}

#colorPallette {
    width: 100%;
}
.mcdFact {
    margin: 0;
    padding: 10px 0 10px 45px;
    list-style-type: none;
    background-image: url("bigMac.png");
    background-repeat: no-repeat;
    background-position:left top;
    background-size: 30px;
}

.smLogo {
    width: 40px;
}

.twitterLogo {
    width: 48px;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 3px;
}

a {
    text-decoration: none;
    word-spacing: 10px;
}


.cfaFact {
    margin: 0;
    padding: 10px 0 10px 60px;
    list-style-type: none;
    background-image: url("cknsand.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 45px;
}

.bkFact {
    margin: 0;
    padding: 10px 0 10px 45px;
    list-style-type: none;
    background-image: url("whopper.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px;
}

/* #mcdCard {
    padding-left: 0px;
    padding-right: 0px;
} */

.card-group {
    border: solid red;
    /* width: 80%; */
    /* text-align: center; */
}
.card {
    /* width: 18rem; */
}

#mcdCard {
    /* margin-left: 20px;
    margin-right: 5px; */
}

#bkCard {
    /* margin-right: 20px;
    margin-left: 5x; */
}

.row {
    --bs-gutter-x: 8px
}
