
body{
    background-image: url(background.png);
    background-color: #BFD7EA ;
    background-blend-mode: overlay;
}

.header {
    display: inline-block;
    width: 1296px;
    height: 300px;
    margin: 0 auto 10 auto;
    text-align: center;
    position: relative;
    left: 72px;
    border-radius: .25rem;
    background-color: #0B3954;
    
}

.headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}









.card-img-top {
    width: 414px;
    height: 250px;
}

ol, ul {
    padding-left: 0px;
}

.mcdFact {
    margin: 0;
    padding: 10px 0 10px 45px;
    list-style-type: none;
    background-image: url("bigMac.png");
    background-repeat: no-repeat;
    background-position:left top;
    background-position-y: 11px;
    background-size: 30px;
}

.cfaFact {
    margin: 0;
    padding: 5px 0 5px 50px;
    list-style-type: none;
    background-image: url("cknsand.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-position-y: 15px;
    background-size: 45px;
}

.bkFact {
    margin: 0;
    padding: 10px 0 10px 45px;
    list-style-type: none;
    background-image: url("whopper.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-position-y: 15px;
    background-size: 35px;
}
#colorPallette {
    width: 100%;
}

.card-body {
    height: 564px;
    background-color: #087E8B;
    color: white;
}

#fact {
    text: white;
}